<?xml version="1.0" encoding="utf-8"?>
<StdValue>
  <!--ViewStart-->
  <View01>0</View01>
  <View02>0</View02>
  <View03>0</View03>
  <View04>0</View04>
  <!--ViewStart-->
  <!--ViewMod-->
  <View01Mod>0</View01Mod>
  <View02Mod>0</View02Mod>
  <View03Mod>0</View03Mod>
  <View04Mod>0</View04Mod>
  <!--ViewMod-->

  <!--广播-->
  <GB_Server_IP>172.0.1.57</GB_Server_IP>
  <GB_Server_Port>3006</GB_Server_Port>
  <GB_UDP_IP>172.0.1.57</GB_UDP_IP>
  <GB_UDP_Port>1006</GB_UDP_Port>
  <GB_Time>10</GB_Time>
  <GB_Type>0</GB_Type>
  <GB_DataNum>0</GB_DataNum>
  
  <!--广播-->
</StdValue>